body {
    font-family: Arial, sans-serif;
    background-color: #75de139c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #7a3ee8bd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(93, 22, 198, 0.877);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #16f1e2cf;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #edf3f4e7;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #1509119c;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fdffffdd;
    color: rgba(15, 104, 229, 0.781);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

body {
    background-image: url('adrian.bground.avif');
    background-repeat: 0px;
    background-size: 500px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 19, 19, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgba(75, 21, 201, 0.89);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}